bot:
  token:

nodes:
  - name: ...
    address: ...
    password: ...
    secure: ...
    session_id: ...

music_tracker:
  enabled: ...
  channel_id: ...
  guild_id: ...
  http_path: ...
  http_address: ...